<div class="card-body">

    <div class="row">

        <div class="col-md-12 order-md-1">

            <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="ibaSearchForm">
                <div class="row">
                    <div class="col-md-6 mb-3">

                        <div class="mb-3">

                            <label for="name">Name</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                            </div>

                        </div>

                        <div class="mb-3">

                            <label for="login">Login</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                <input type="text" class="form-control" formControlName="login" placeholder="Login">
                            </div>

                        </div>

                        <div class="row mb-3">

                            <div class="col-md-6">

                                <div class="mb-3">

                                    <label for="radActive">Active</label>
                                    <br />
                                    <div class="form-check-inline">
                                        <div>
                                            <input id="optActive" type="radio" class="form-check-input" value="Active"
                                                name="radActive" formControlName="radActive">
                                            <label class="form-check-label mr-2" for="optActive">Active</label>
                                        </div>

                                        <div>
                                            <input id="optInactive" type="radio" class="form-check-input"
                                                value="Inactive" name="radActive" formControlName="radActive">
                                            <label class="form-check-label mr-2" for="optInactive"> Inactive </label>
                                        </div>

                                        <div>
                                            <input id="optBoth" type="radio" class="form-check-input" value="Both"
                                                name="radActive" formControlName="radActive">
                                            <label class="form-check-label" for="optBoth"> Both </label>
                                        </div>
                                        <!-- <div *ngIf="f.radActive.touched && f.radActive.invalid" class="alert alert-danger">
                                            <div *ngIf="f.radActive.errors?.required">Name is required.</div>
                                        </div> -->
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="mb-3">

                                    <label for="radDisabled">Disabled</label>
                                    <br />
                                    <div class="form-check-inline">
                                        <div>
                                            <input id="optStatusEnabled" type="radio" class="form-check-input"
                                                value="Active" name="radDisabled" formControlName="radDisabled">
                                            <label class="form-check-label mr-2" for="optStatusEnabled">Enabled</label>
                                        </div>

                                        <div>
                                            <input id="optStatusDisabled" type="radio" class="form-check-input"
                                                value="Inactive" name="radDisabled" formControlName="radDisabled">
                                            <label class="form-check-label mr-2" for="optStatusDisabled"> Disabled
                                            </label>
                                        </div>

                                        <div>
                                            <input id="optStatusBoth" type="radio" class="form-check-input" value="Both"
                                                name="radDisabled" formControlName="radDisabled">
                                            <label class="form-check-label" for="optStatusBoth"> Both </label>
                                        </div>
                                        <!-- <div *ngIf="f.radDisabled.touched && f.radDisabled.invalid" class="alert alert-danger">
                                                                        <div *ngIf="f.radDisabled.errors?.required">Name is required.</div>
                                                                    </div> -->
                                    </div>
                                    <!-- <label for="disabled">Disabled</label><br />
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn  btn-outline-primary active" for="optStatusEnabled">
                                                <input type="radio" (change)="changeDisabled($event)" (click)="changeDisabled($event)" name="disabled" formControlName="disabled" value="enabled" id="optStatusEnabled">
                                                Enabled
                                            </label>
                                            <label class="btn  btn-outline-primary" for="optStatusDisabled">
                                                <input type="radio" (change)="changeDisabled($event)" (click)="changeDisabled($event)" name="disabled" formControlName="disabled" value="disabled" id="optStatusDisabled">
                                                Disabled
                                            </label>
                                            <label class="btn  btn-outline-primary" for="optStatusBoth">
                                                <input type="radio" (change)="changeDisabled($event)" (click)="changeDisabled($event)" name="disabled" formControlName="disabled" value="both" id="optStatusBoth">
                                                Both
                                            </label>
                                        </div> -->

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-6 mb-3">

                        <!-- <app-iba-users-instances [ibaSearchForm]="ibaSearchForm"></app-iba-users-instances> -->
                        <app-iba-users-instance-group [ibaSearchForm]="ibaSearchForm"></app-iba-users-instance-group>

                    </div>
                </div>

                <hr class="mb-3">

                <div class="row">
                    <div class="col-md-4 mb-3">

                        <label for="updatedBy">Updated By</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="updatedBy"
                                placeholder="Updated by...">
                        </div>

                    </div>
                    <div class="col-md-4 mb-3">

                        <label for="updatedFrom">Updated From</label>
                        <br />
                        <!-- <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn input-group-text calendar" (click)="duf.toggle()" type="button"><i
                                        class="fa fa-calendar"></i></button>
                            </div>
                            <input class="form-control" formControlName="updatedFrom" placeholder="dd/mm/yyyy"
                                ngbDatepicker #duf="ngbDatepicker">
                        </div> -->
                        <kendo-datepicker [value]="updatedFromValue" formControlName="updatedFrom" format="dd/MM/yyyy" placeholder="dd/mm/yyyy"></kendo-datepicker>

                    </div>
                    <div class="col-md-4 mb-3">

                        <label for="updatedTo">Updated To</label>
                        <br />
                        <!-- <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn input-group-text calendar" (click)="dut.toggle()" type="button"><i
                                        class="fa fa-calendar"></i></button>
                            </div>
                            <input class="form-control" formControlName="updatedTo" placeholder="dd/mm/yyyy"
                                ngbDatepicker #dut="ngbDatepicker">
                        </div> -->
                        <kendo-datepicker [value]="updatedToValue" formControlName="updatedTo" format="dd/MM/yyyy" placeholder="dd/mm/yyyy"></kendo-datepicker>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4 mb-3">

                        <label for="createdUser">Created User</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-plus"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="createdUser"
                                placeholder="Created User...">
                        </div>

                    </div>

                    <div class="col-md-4 mb-3">
                    
                        <label for="createdFrom">Created From</label>
                        <br />
                        <!-- <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn input-group-text calendar" (click)="dcf.toggle()" type="button"><i
                                        class="fa fa-calendar"></i></button>
                            </div>
                            <input class="form-control" formControlName="createdFrom" placeholder="dd/mm/yyyy" ngbDatepicker
                                #dcf="ngbDatepicker">
                    
                        </div> -->
                            <kendo-datepicker [value]="createdFromValue" formControlName="createdFrom" format="dd/MM/yyyy" placeholder="dd/mm/yyyy"></kendo-datepicker>
                    
                    </div>

                    <div class="col-md-4 mb-3">

                        <label for="createdTo">Created To</label>
                        <br />
                        <!-- <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn input-group-text calendar" (click)="dct.toggle()" type="button"><i
                                        class="fa fa-calendar"></i></button>
                            </div>
                            <input class="form-control" formControlName="createdTo" placeholder="dd/mm/yyyy"
                                ngbDatepicker #dct="ngbDatepicker">
                        </div> -->
                        <kendo-datepicker [value]="createdToValue" formControlName="createdTo" format="dd/MM/yyyy" placeholder="dd/mm/yyyy"></kendo-datepicker>

                    </div>

                </div>

                <hr class="mb-3">

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label for="radAccountStatus">AD Account Status</label>
                        <br />
                        <div class="form-check-inline">
                            <div>
                                <input id="optACStatusActive" type="radio" class="form-check-input" value="Active"
                                    name="radAccountStatus" formControlName="radAccountStatus">
                                <label class="form-check-label mr-2" for="optACStatusActive">Active</label>
                            </div>

                            <div>
                                <input id="optACStatusDisabled" type="radio" class="form-check-input" value="Inactive"
                                    name="radAccountStatus" formControlName="radAccountStatus">
                                <label class="form-check-label mr-2" for="optACStatusDisabled"> Disabled </label>
                            </div>

                            <div>
                                <input id="optACStatusNA" type="radio" class="form-check-input" value="N/A"
                                    name="radAccountStatus" formControlName="radAccountStatus">
                                <label class="form-check-label mr-2" for="optACStatusNA"> N/A </label>
                            </div>

                            <div>
                                <input id="optACStatusAll" type="radio" class="form-check-input" value="Both"
                                    name="radAccountStatus" formControlName="radAccountStatus">
                                <label class="form-check-label" for="optACStatusAll"> All </label>
                            </div>
                            <!-- <div *ngIf="f.radDisabled.touched && f.radDisabled.invalid" class="alert alert-danger">
                                                                                    <div *ngIf="f.radDisabled.errors?.required">Name is required.</div>
                                                                                </div> -->
                        </div>
                        <!-- <label for="accountStatus">AD Account Status</label><br />
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn  btn-outline-primary active" for="optACStatusActive">
                                <input type="radio" (change)="changeAccountStatus($event)" (click)="changeAccountStatus($event)" name="accountStatus" formControlName="accountStatus" value="active" id="optACStatusActive"> Active
                            </label>
                            <label class="btn  btn-outline-primary" for="optACStatusDisabled">
                                <input type="radio" (change)="changeAccountStatus($event)" (click)="changeAccountStatus($event)" name="accountStatus" formControlName="accountStatus" value="disabled" id="optACStatusDisabled">
                                 Disabled
                            </label>
                            <label class="btn  btn-outline-primary" for="optACStatusNA">
                                <input type="radio" (change)="changeAccountStatus($event)" (click)="changeAccountStatus($event)" name="accountStatus" formControlName="accountStatus" value="na" id="optACStatusNA">
                                 N/A
                            </label>
                            <label class="btn  btn-outline-primary" for="optACStatusBoth">
                                <input type="radio" (change)="changeAccountStatus($event)" (click)="changeAccountStatus($event)" name="accountStatus" formControlName="accountStatus" value="all" id="optACStatusBoth">
                                 All
                            </label>
                        </div> -->

                    </div>

                </div>

                <hr class="mb-3">

                <button class="btn btn-outline-danger m-1" type="button" (click)="resetForm()">Clear</button>
                <button class="btn btn-primary m-1" type="submit">Search</button>
 
            </form>
 
        </div>
 
    </div>

</div>