<div class="row">
    <div class="col-md-9 mt-3">
        <div class="accordion mb-2" id="searchPanel">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                        class="d-block text-black">
                        <i title="Toggle View" class="fa fa-edit pull-right mt-1"></i>
                        Search
                        <!-- <a class="btn btn-sm btn-info pull-right" data-toggle="collapse" href="#collapse4">
                            Show

                        </a>  -->
                    </a>
                </div>

                <div id="collapseOne" [className]="getClass()" aria-labelledby="headingOne"
                    data-parent="#searchPanel">
                    <app-iba-search (notifyParent)="getNotification($event)"></app-iba-search>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 mt-3">
        <div class="accordion mb-2" id="notificationPanel">
            <div class="card">
                <div class="card-header" id="heading4">
                    <a data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4"
                        class="d-block text-black">

                        <i title="Toggle View" class="fa fa-comments pull-right mt-1"></i> <span>Notifications</span>
                    </a>
                </div>
                <div id="collapse4" [className]="getClass()" aria-labelledby="heading4"
                    data-parent="#notificationPanel">
                    <div class="card-body">

                        <app-notifications></app-notifications>

                    </div>
                </div>
            </div>
            <!-- <div class="card">
            <div class="card-header" id="heading1">
                <a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="d-block text-black">
                    <i class="fa fa-cog pull-right mt-1"></i> <span>Environment Settings</span>
                </a>
            </div>
            <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading2">
                <a data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2" class="d-block text-black">
                    <i class="fa fa-cog pull-right mt-1"></i>  <span>Menu Settings</span>
                </a>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading3">
                <a data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3" class="d-block text-black">
                    <i class="fa fa-cog pull-right mt-1"></i>  <span>Page Settings</span>
                </a>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                <div class="card-body">

                </div>
            </div>
        </div>                 -->

        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        
        <app-iba-search-results *ngIf="users" [users]="users"></app-iba-search-results>

    </div>
</div>