<div *ngFor="let validationFailure of validationFailures;" [class]="setClass(validationFailure.severity)" role="alert">
    {{validationFailure.errorMessage}}
</div>
<!-- <ul class="list-group mr-0">

    <li *ngFor="let validationFailure of validationFailures;" class="list-group-item  list-group-item-danger">
        {{validationFailure.errorMessage}}
    </li>

</ul> -->