<kendo-grid
[kendoGridBinding]="gridView"
kendoGridSelectBy="id"
[selectedKeys]="mySelection"
[pageSize]="50"
[pageable]="true"
[sortable]="true"
[reorderable]="true"
[resizable]="true">
    <ng-template kendoGridToolbarTemplate>
        <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target)" />
        <kendo-grid-spacer></kendo-grid-spacer>
        <button kendoGridExcelCommand type="button" icon="file-excel">Export to Excel</button>
        <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
    </ng-template>
    <kendo-grid-column-group title="Employee" [columnMenu]="false">
        <kendo-grid-column field="Name" title="Name" [width]="120"></kendo-grid-column>
        <kendo-grid-column field="UserName" title="User Name" [width]="80"></kendo-grid-column>
        <kendo-grid-column field="Manager" title="Manager" [width]="100"></kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group title="Instance" [columnMenu]="false">
        <kendo-grid-column field="Instance" title="Instance" [width]="100"></kendo-grid-column>
        <kendo-grid-column field="Role" title="Role" [width]="98"></kendo-grid-column>
        <kendo-grid-column field="Security" title="Security" [width]="140"></kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group title="Status" [columnMenu]="false">
        <kendo-grid-column field="IsActive" title="Active" [width]="56" [class]="{ 'text-center': true }"
            [resizable]="false" filter="boolean">
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" [checked]="dataItem.IsActive" disabled />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Disabled" title="Disabled" [width]="70" [class]="{ 'text-center': true }"
            [resizable]="false" filter="boolean">
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" [checked]="dataItem.Disabled" disabled />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="AccountStatus" title="Status" [width]="56"></kendo-grid-column>
        <kendo-grid-column field="IBA_Load_Date" title="IBA Loaded" [width]="87">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.IBA_Load_Date | date: 'dd/MM/yyyy'}}
            </ng-template>
        </kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group title="Modified" [columnMenu]="false">
        <kendo-grid-column field="UpdatedBy" title="Updated By" [width]="100"></kendo-grid-column>
        <kendo-grid-column field="Updated" title="Updated" [width]="87">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.Updated | date: 'dd/MM/yyyy'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="CreatedDate" title="Created" [width]="87">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.CreatedDate | date: 'dd/MM/yyyy'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="CreatedRef" title="Created Ref" [width]="142"></kendo-grid-column>
        <kendo-grid-column field="CreatedUser" title="Created User" [width]="92"></kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group title="Active Directory" [columnMenu]="false">
        <kendo-grid-column field="ADOU" title="ADOU" [width]="75"></kendo-grid-column>
        <kendo-grid-column field="AD_Department" title="AD Group" [width]="100"></kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group title="Location" [columnMenu]="false">
        <kendo-grid-column field="Office" title="Office" [width]="100"></kendo-grid-column>
        <kendo-grid-column field="City" title="City" [width]="85"></kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
    <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
</kendo-grid>