<form [formGroup]="ibaSearchForm" class="needs-validation ml-3" novalidate>

    <div class="row">
        <label>Override Security Selection</label>
    </div>

    <div class="row mb-2">

        <button id="selectAdmins" type="button" class="btn btn-primary mb-2 mr-2" data-toggle="tooltip"
            (click)="selectAdmins()" data-placement="right" title="Click to select all admins">Admins</button>

        <button id="selectonNonAdmins" type="button" class="btn btn-primary mb-2 mr-2" data-toggle="tooltip"
            (click)="selectNonAdmins()" data-placement="right"
            title="Click to select all non-admins">Non-Admins</button>

        <button id="resetAdmins" type="button" class="btn btn-outline-primary mb-2 mr-2" data-toggle="tooltip"
            (click)="resetAdmins()" data-placement="right" title="Click to reset drop down lists">Reset</button>

    </div>

    <div class="row">

        <label for="instances">Instance</label>

    </div>

    <div class="row mb-3">

        <button type="button" name="buttonInstance" class="multiselect dropdown-toggle btn btn-outline-primary"
            data-toggle="dropdown"
            title="AJG, Alesco, Brasil, Capsicum Re, Compass, Execution Re, Gallagher Housing, Heath, Nordic AJG, Nordic OIM, OIM, Pen Underwriting">
            <span class="multiselect-selected-text">{{instanceButtonText}}</span> <b class="caret"></b>
        </button>
        <!-- <input type="text" name="hdnInstance" formControlName="hdnInstance" title="AJG, Alesco, Brasil, Capsicum Re, Compass, Execution Re, Gallagher Housing, Heath, Nordic AJG, Nordic OIM, OIM, Pen Underwriting"
                [value]="hdnInstanceValue"/> -->
        <ul class="dropdown-menu">
            <li *ngFor="let instance of instances; let i = index" class="multiselect-item multiselect-all active ml-2">

                <label *ngIf="instance.isLabel">Instances</label>
                <a *ngIf="!instance.isLabel" tabindex="i" class="multiselect-all" [title]="instance.label">
                    <input type="checkbox" [name]="instance.value" [checked]="instance.selected"
                        [disabled]="instance.disabled" (change)="instanceClicked($event)" />
                    <label class="checkbox ml-2">{{instance.label}}</label></a>
            </li>
        </ul>

    </div>

    <div class="row">

        <label for="securities">Security</label>

    </div>

    <div class="row mb-2">

            <button type="button" class="multiselect dropdown-toggle btn btn-outline-primary mb-2 mr-2"
                data-toggle="dropdown"
                title="Account Opener, Accounts Payable Assistant (W.Bank wo. Account Open), Accounts Payable Assistant (With Account Open), Accounts Payable Assistant (without Account/Bank), Accounts Payable Supervisor, Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), IBA Supervisor (Without Account Open), Account Opener, Accounts Payable Assistant (without Account/Bank), Accounts Payable Assitant (W.Bank wo. Account Open), Accounts Payable Assitant (With Account Open), Accounts Payable Supervisor, Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), IBA Supervisor (Without Account Open), Accounts Payable Assistant (Without Account Open/Bank), Admin, Enquiry, IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), Account Opener, Accounts Payable Assistant (w.Bank wo. Account Open), Accounts Payable Assistant (Without Account Open/Bank), Accounts Payable Supervisor, Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (w.Bureau), IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), Account Opener, Accounts Payable Assistant (w.bank wo. Account Open), Accounts Payable Assistant (With Account Open), Accounts Payable Assistant (without Account Open/Bank), Accounts Payable Supervisor, Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), IBA Supervisor (Without Account Open), Account Opener, Accounts Payable Assistant (w.Bank wo. Account Open), Accounts Payable Assistant (With Account Open), Accounts Payable Assistant (Without Account Open/Bank), Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (w.Bureau), IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), Account Opener, Accounts Payable Assistant (w.Bank wo. Account Open), Accounts Payable Assistant (Without Account Open/Bank), Accounts Payable Supervisor, Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), IBA Supervisor (Without Account Open), Account Opener, Accounts Payable Assistant (w.Bank wo. Account Open), Accounts Payable Assistant (without Account/Bank), Accounts Payable Supervisor, Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), IBA Supervisor (without Account Open), Account Opener, Accounts Payable Assistant (without Account/Bank), Accounts Payable Assitant (W.Bank wo. Account Open), Accounts Payable Assitant (With Account Open), Accounts Payable Supervisor, Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), IBA Supervisor (Without Account Open), Account Opener, Accounts Payable Assistant (w.Bank wo. Account Open), Accounts Payable Assistant (Without Account Open/Bank), Accounts Payable Supervisor, Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), IBA Supervisor (Without Account Open), Account Opener, Accounts Payable Assistant (w.Bank wo. Account Open), Accounts Payable Assistant (Without Account Open/Bank), Accounts Payable Supervisor, Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), IBA Supervisor (Without Account Open), Account Opener, Accounts Payable Assistant (w.Bank wo. Account Open), Accounts Payable Assistant (with Account Open), Accounts Payable Assistant (without Account/Bank), Accounts Payable Supervisor, Admin, Bank, Bureau Account Handler (Without Account Open), Enquiry, IBA Account Handler (With Account Open), IBA Account Handler (Without Account Open), IBA Supervisor (With Account Open), IBA Supervisor (without Account Open)"><span
                    class="multiselect-selected-text">{{securityButtonText}}</span> <b class="caret"></b></button>
            <ul class="dropdown-menu">

                <li *ngFor="let security of securities; let i = index"
                    class="multiselect-item multiselect-all active ml-2">

                    <label *ngIf="security.isLabel">{{security.parent}}</label>
                    <a *ngIf="!security.isLabel" tabindex="i" class="multiselect-all" [title]="security.label">
                        <input type="checkbox" [name]="security.value" [checked]="security.selected"
                            [disabled]="security.disabled" (change)="securityClicked($event)" />
                        <label class="checkbox ml-2">{{security.label}}</label></a>
                </li>
            </ul>

    </div>

    <div class="row">

        <label for="role">Roles</label><br />

    </div>

    <div class="row">

            <button type="button" class="multiselect dropdown-toggle btn btn-outline-primary mb-2 mr-2"
                data-toggle="dropdown"
                title="Account (Check), Account and Payment (Check), Account/Payment Check/Authorise, All (Check and Authorise), Default, Payment (check/Authorise/Export), Payment (Export), Account (Check), Account and Payment (Check), Account/Payment Check/Authorise, All (Check and Authorise), Default, Payment (check/Authorise/Export), Payment (Export), Account and Payment (Check), All (Check and Authorise), Default, Payment (Export), Account (Check), Account and Payment (Check), All (Check and Authorise), Default, Payment (Check/Authorise/Import), Payment (Export), Account (Check), Account and Payment (Check), Account/Payment Check/Authorise, All (Check and Authorise), Default, Payment (Check/Authorise/Export), Payment (Export), Account (Check), Account and Payment (Check), Account/Payment Check/Authorise, All (Check and Authorise), Default, Payment (Export), Account (Check), Account and Payment (Check), Account/Payment (Check/Authorise), All (Check and Authorise), Default, Payment (Check/Authorise/Export), Payment (Export), Account (Check), Account and Payment (Check), Account/Payment Check/Authorise, All (Check and Authorise), Default, Payment (Check/Authorise/Export), Payment (Export), Account (Check), Account and Payment (Check), Account/Payment Check/Authorise, All (Check and Authorise), Default, Payment (check/Authorise/Export), Payment (Export), Account (Check), Account and Payment (Check), Account/Payment Check/Authorise, All (Check and Authorise), Default, Payment (Check/Authorise/Export), Payment (Export), Account (Check), Account and Payment (Check), Account/Payment Check/Authorise, All (Check and Authorise), Default, Payment (Check/Authorise/Export), Payment (Export), Account (Check), Account and Payment (Check), Account/Payment Check/Authorise, All (Check and Authorise), Default, Payment (Check/Authorise/Export), Payment (Export)">
                <span class="multiselect-selected-text">{{roleButtonText}}</span> <b class="caret"></b></button>
            <ul class="dropdown-menu">
                <li *ngFor="let role of roles; let i = index" class="multiselect-item multiselect-all active ml-2">
                    <label *ngIf="role.isLabel">{{role.parent}}</label>
                    <a *ngIf="!role.isLabel" tabindex="i" class="multiselect-all" [title]="role.label">
                        <input type="checkbox" [name]="role.label" [checked]="role.selected" [disabled]="role.disabled"
                            (change)="roleClicked($event)" />
                        <label class="checkbox ml-2">{{role.label}}</label></a>
                </li>
            </ul>

    </div>

</form>