<!-- <form [formGroup]="dataSourceForm">
<div *ngFor="let dataSource of dataSources;  let i = index" class="mt-2">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text alert-danger">{{dataSource.name}} Data</span>
        </div>
        <input type="text" class="form-control" formControlName="getModifiedDate(i)"  
            value="{{dataSource.modifiedDate | date : 'dd/MM/yyyy hh:mm:ss'}}" />
    </div>
</div></form> -->
<ul class="list-group mr-0">

    <li *ngFor="let dataSource of dataSources;" class="list-group-item  list-group-item-danger">
        {{dataSource.name}} Data: {{dataSource.modifiedDate | date : 'dd/MM/yyyy hh:mm:ss'}}
    </li>

</ul>