<app-page-header></app-page-header>

<div class="container-fluid">

    <div class="row" *ngIf="!isDashboard()">
        <div class="col-md-12">
            <app-page-title></app-page-title>
        </div>
    </div>

    <!-- <div class="row"> -->

            <router-outlet></router-outlet>

    <!-- </div> -->

</div>

<!-- <app-page-footer></app-page-footer> -->