<form [formGroup]="ibaSearchForm" class="needs-validation" novalidate>

    <div class="row">
            <input type="text" name="hdnInstance" formControlName="hdnInstance" [title]="selectedInstances"
                [value]="selectedInstances"/>

        <div class="mb-3">
            <label for="instances">Instance</label><br />
            <button type="button" name="buttonInstance" class="multiselect dropdown-toggle btn btn-outline-primary" data-toggle="dropdown"
                title="{{selectedInstances}}">
                <span class="multiselect-selected-text">{{instancesText}}</span> <b class="caret"></b>
            </button>

            <ul class="dropdown-menu">
                <li class="multiselect-item multiselect-all active ml-2">
                    <a tabindex="0" class="multiselect-all" title="Select All">
                        <input type="checkbox" checked="checked" (change)="selectAll()" name="Select All">
                        <label class="checkbox ml-2">Select All</label>
                    </a>
                </li>
                <li *ngFor="let instance of instances; let i = index" class="multiselect-item multiselect-all active ml-2">
                    <label *ngIf="instance.parent === 'Instances'">Instances</label>
                    <a *ngIf="instance.parent === null" tabindex="i" class="multiselect-all" [title]="instance.label">
                        <input type="checkbox" [name]="instance.label" [checked]="instance.selected" [disabled]="instance.disabled" (change)="instanceClicked($event)" />
                        <label class="checkbox ml-2">{{instance.label}}</label></a>
                </li>
            </ul>
        </div>

    </div>


</form>