<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
    id="myNavbar">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand">IT Audit Dashboard</a>

    <div class="collapse navbar-collapse" id="mainNav">

        <ul class="navbar-nav nav-fill">

            <li class="nav-item px-4 dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="settingsDropDown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Applications</a>

                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="settingsDropDown">

                    <a class="dropdown-item" href="/">Home</a>

                    <div class="dropdown-divider"></div>

                    <div class="d-md-flex align-items-start justify-content-start">

                        <div>
                            <div class="dropdown-header">User Screens</div>
                            <a class="dropdown-item" href="/apps/iba-users">IBA Users</a>
                            <a class="dropdown-item" href="/apps/ad-users">AD Users</a>
                            <a class="dropdown-item" href="/apps/bdrm-users">BDRM Users</a>
                            <a class="dropdown-item" href="/apps/acturis-users">Acturis Users</a>
                            <a class="dropdown-item" href="/apps/ad-group-membership">AD Group Membership</a>
                        </div>

                        <div>
                            <div class="dropdown-header">CDL</div>
                            <a class="dropdown-item" href="#">CDL Users</a>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-header">CDL Reference Data</div>
                            <a class="dropdown-item" href="#">Edit UAR Workbook Allocations</a>
                            <a class="dropdown-item" href="#">Edit UAR Workbooks</a>
                            <a class="dropdown-item" href="#">Edit CDL Branches</a>
                            <a class="dropdown-item" href="#">Edit CDL Template Definitions</a>
                        </div>

                        <div>
                            <div class="dropdown-header">Generic UAR</div>
                            <a class="dropdown-item" href="#">Users</a>
                            <a class="dropdown-item" href="#">Applications</a>
                            <a class="dropdown-item" href="#">Request User Access Report</a>

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-header">Generic UAR Reference Data</div>
                            <a class="dropdown-item" href="#">Edit Users AD Organisational Unit Scope</a>
                            <a class="dropdown-item" href="#">Edit Available Requestable Reports</a>
                            <a class="dropdown-item" href="#">Edit Workbook Allocation Basis</a>
                            <a class="dropdown-item" href="#">Edit Workbook</a>
                            <a class="dropdown-item" href="#">Edit Workbook Allocation Values</a>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#">Refresh My Permissions From Active Directory</a>

                </div>

            </li>

        </ul>

        <ul class="navbar-nav ml-auto nav-fill">

            <li class="nav-item px-4 dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="applicationsDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="applicationsDropdown">

                    <div class="d-md-flex align-items-start justify-content-start">

                        <div>
                            <div class="dropdown-header">Environment Settings</div>
                            <form class="needs-validation" (change)="onChange($event)"
                                [formGroup]="environmentSettingsForm">

                                <div class="dropdown-item">
                                    <!-- <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-machine"></i></span>
                                    </div> -->
                                    <input type="text" class="form-control ml-2" formControlName="environmentMachine"
                                        placeholder="Server Id">
                                </div>

                            </form>
                        </div>

                        <div>
                            <div class="dropdown-header">Menu Settings</div>
                            <a class="dropdown-item" href="#">G-EMEA-ITAuditDashboard-ActiveDirectoryUsersView-UAT</a>
                            <a class="dropdown-item" href="#">G-EMEA-ITAuditDashboard-ActurisUsersView-UAT</a>
                            <a class="dropdown-item" href="#">G-EMEA-ITAuditDashboard-ActurisUsersUpdate-UAT</a>
                            <a class="dropdown-item" href="#">G-EMEA-ITAuditDashboard-BDRMUsersView-UAT</a>
                            <a class="dropdown-item" href="#">G-EMEA-ITAuditDashboard-ITAuditDashboardUsersView-UAT</a>
                            <a class="dropdown-item" href="#">G-EMEA-ITAuditDashboard-CDLUsersView-UAT</a>
                            <a class="dropdown-item" href="#">G-EMEA-ITAuditDashboard-CDLUsersUpdate-UAT</a>
                            <a class="dropdown-item" href="#">G-EMEA-ITAuditDashboard-CDLReferenceDataUpdate-UAT"</a>
                            <a class="dropdown-item" href="#">G-EMEA-ITAuditDashboard-ADGroupMembershipEnquiry-Prod</a>
                            <a class="dropdown-item" href="#">G-EMEA-ITAuditDashboard-GenericUserAccessReviewConfigure-UAT</a>
                            <a class="dropdown-item" href="#">U-EMEA-ITAuditDashboard-GRefDataConfigure-UAT</a>
                            <a class="dropdown-item" href="#">U-EMEA-ITAuditDashboard-IDMRequestsGGBUKView-UAT</a>
                        </div>

                        <div>
                            <div class="dropdown-header">Page Settings</div>
                            <form class="needs-validation" (change)="onChange($event)"
                            [formGroup]="environmentSettingsForm">

                            <div class="dropdown-item">
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-machine"></i></span>
                                </div> -->
                                <input type="text" class="form-control ml-2" formControlName="environmentMachine"
                                    placeholder="Server Id">
                            </div>

                        </form>
                       </div>
                    </div>

                </div>

            </li>

            <!-- <li class="nav-item px-4 dropdown">


        </li> -->
        </ul>

        <form [formGroup]="userNameForm">
            <div class="input-group">

                <input type="text" readonly class="form-control" formControlName="userNameControl"
                    [value]="userName">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
            </div>
        </form>
    </div>

</nav>