<ul class="navbar-nav ml-auto nav-fill">

    <li class="nav-item px-4 dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="settingsDropDown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Settings</a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="settingsDropDown">

            <a class="dropdown-item" href="#">Home</a>

            <div class="dropdown-divider"></div>

            <!-- <div class="d-md-flex align-items-start justify-content-start">

                <div>
                    <div class="dropdown-header">User Screens</div>
                    <a class="dropdown-item" href="#">IBA Users</a>
                    <a class="dropdown-item" href="#">AD Users</a>
                    <a class="dropdown-item" href="#">BDRM Users</a>
                    <a class="dropdown-item" href="#">Acturis Users</a>
                    <a class="dropdown-item" href="#">AD Group Membership</a>
                </div>

                <div>
                    <div class="dropdown-header">CDL</div>
                    <a class="dropdown-item" href="#">CDL Users</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">CDL Reference Data</div>
                    <a class="dropdown-item" href="#">Edit UAR Workbook Allocations</a>
                    <a class="dropdown-item" href="#">Edit UAR Workbooks</a>
                    <a class="dropdown-item" href="#">Edit CDL Branches</a>
                    <a class="dropdown-item" href="#">Edit CDL Template Definitions</a>
                </div>

                <div>
                    <div class="dropdown-header">Generic UAR</div>
                    <a class="dropdown-item" href="#">Users</a>
                    <a class="dropdown-item" href="#">Applications</a>
                    <a class="dropdown-item" href="#">Request User Access Report</a>

                    <div class="dropdown-divider"></div>

                    <div class="dropdown-header">Generic UAR Reference Data</div>
                    <a class="dropdown-item" href="#">Edit Users AD Organisational Unit Scope</a>
                    <a class="dropdown-item" href="#">Edit Available Requestable Reports</a>
                    <a class="dropdown-item" href="#">Edit Workbook Allocation Basis</a>
                    <a class="dropdown-item" href="#">Edit Workbook</a>
                    <a class="dropdown-item" href="#">Edit Workbook Allocation Values</a>
                </div>
            </div> -->

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#">Refresh My Permissions From Active Directory</a>

        </div>

    </li>

    <!-- <li class="nav-item px-4 dropdown">


</li> -->
</ul>