<div class="card mt-3">
    <h5 class="card-header" role="tab" id="headingOne">Your Applications</h5>
    <div class="card-body">
        <ol class="round">

            <li *ngFor="let userApplication of userApplications">
                <h6>
                    <a href="{{userApplication.route}}">{{userApplication.title}}</a>
                </h6>
                <p>{{userApplication.dataSources}}</p>
            </li>

        </ol>
    </div>
</div>