<kendo-grid
[kendoGridBinding]="gridView"
kendoGridSelectBy="id"
[selectedKeys]="mySelection"
[pageSize]="50"
[skip]="skip"
[pageable]="{
  buttonCount: buttonCount,
  info: info,
  type: type,
  pageSizes: pageSizes,
  previousNext: previousNext
}"
[sortable]="true"
[reorderable]="true"
[resizable]="true"
(pageChange)="pageChange($event)">
<ng-template kendoGridToolbarTemplate>
  <input placeholder=" Search in all columns..." kendoTextBox (input)="onFilter($event.target)" />
  <kendo-grid-spacer></kendo-grid-spacer>
  <button kendoGridExcelCommand type="button" icon="file-excel">Export to Excel</button>
  <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
</ng-template>
<kendo-grid-column-group title="User" [columnMenu]="false">
  <kendo-grid-column field="name" title="Name" [width]="120"></kendo-grid-column>
  <kendo-grid-column field="userName" title="User Name" [width]="80"></kendo-grid-column>
  <kendo-grid-column field="manager" title="Manager" [width]="90"></kendo-grid-column>
</kendo-grid-column-group>
<kendo-grid-column-group title="Instance" [columnMenu]="false">
  <kendo-grid-column field="instance" title="Instance" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="role" title="Role" [width]="90"></kendo-grid-column>
  <kendo-grid-column field="security" title="Security" [width]="140"></kendo-grid-column>
</kendo-grid-column-group>
<kendo-grid-column-group title="Modified" [columnMenu]="false">
  <kendo-grid-column field="updatedBy" title="Updated By" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="updated" title="Updated" [width]="87">
      <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.updated | date: 'dd/MM/yyyy'}}
      </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="createdDate" title="Created" [width]="87">
      <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.createdDate | date: 'dd/MM/yyyy'}}
      </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="createdRef" title="Created Ref" [width]="142"></kendo-grid-column>
  <kendo-grid-column field="createdUser" title="Created User" [width]="92"></kendo-grid-column>
</kendo-grid-column-group>
<kendo-grid-column-group title="Active Directory" [columnMenu]="false">
  <kendo-grid-column field="adou" title="ADOU" [width]="75"></kendo-grid-column>
  <kendo-grid-column field="adDepartment" title="AD Group" [width]="100"></kendo-grid-column>
</kendo-grid-column-group>
<kendo-grid-column-group title="Location" [columnMenu]="false">
  <kendo-grid-column field="office" title="Office" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="city" title="City" [width]="85"></kendo-grid-column>
</kendo-grid-column-group>
<kendo-grid-column-group title="Status" [columnMenu]="false">
  <kendo-grid-column field="isActive" title="Active" [width]="56" [class]="{ 'text-center': true }"
      [resizable]="false" filter="boolean">
      <ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" [checked]="dataItem.isActive" disabled />
      </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="disabled" title="Disabled" [width]="70" [class]="{ 'text-center': true }"
      [resizable]="false" filter="boolean">
      <ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" [checked]="dataItem.disabled" disabled />
      </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="accountStatus" title="Status" [width]="56"></kendo-grid-column>
  <kendo-grid-column field="ibaLoadDate" title="IBA Loaded" [width]="87">
      <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.ibaLoadDate | date: 'dd/MM/yyyy'}}
      </ng-template>
  </kendo-grid-column>
</kendo-grid-column-group>
<kendo-grid-pdf fileName="IBA_Users.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
<kendo-grid-excel fileName="IBA_Users.xlsx"></kendo-grid-excel>
</kendo-grid>