<div class="row">
    <div class="col-sm-9">
        <h1>{{pageTitle}}</h1>
        <p>Search for IBA user data.</p>
    </div>
    <div class="col-sm-3">
        <app-data-sources [dataSources]="dataSources" [validationFailures]="validationFailures"></app-data-sources>
    </div>
</div>
